/*          Author: Richard Myatt
            Date: 19 September 2018

            Linear progress bar written using Vue.js and an svg.
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  text-align: center;
  padding: 10px;
  color: #222;
  background-color: lightgreen;
}

.container1 {
  width: 420px;
  margin: 50px auto;
}

.container2 {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#display {
  position: relative;
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
}

input {
  align: center;
}
