/* This code is a copy of the number guessing game presented in the MDN
JavaScript tutorial,
see https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/A_first_splash
and provides a good example of the way in which JavaScript can be used to
manipulate the DOM to provide a responsive web page.
*/

html {
  font-family: sans-serif;
}
body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}
.lastResult {
  color: white;
  padding: 3px;
}
