/*   Author: Richard Myatt
     Date: 4 January 2018

     This demo illustrates the use of flec-grow and is based on details
     available from
     https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.container {
  display: flex;
  text-align: center;
  font-size: 40px;
  background-color: #88499C;
  padding: 10px;
}

.item1 {
  flex-grow: 1;
}

.item2 {
  flex-grow: 2;
}

.container > div {
  height: 60px;
  width: 300px;
  margin: 10px;
  background-color: #E77F24;
}

h1 {
  text-align: center;
  color: #E77F24;
}

h1, h2 {
  color: #E77F24;
}
