/*                Author: Richard Myatt
                  Date: 26 October 2018
                  Revised: 9 November 2018 - touch tracking added for mobile
                  devices

                  Mouse tracking within an svg image.
*/

body {
  background-color: #eee;
}

.container {
  width: 400px;
  height: 400px;
  margin: 20px auto;
}
